# --- Security & Environment ---
.env
*.pkl
app/services/indeed_cookies.pkl

# --- Scraping & Browser Data ---
# Ignores the entire profile folder and everything inside it
app/services/indeed_profile/
undetected_chromedriver/

# --- User Uploads & Temporary Files ---
# Keeps the folder but ignores the uploaded PDFs
static/resumes/*
tmp/jobs_cache/

# --- Python System Files ---
__pycache__/
*.pyc

# --- IDE & OS Junk ---
.vscode/
.idea/
.DS_Store

# --- Testing ---
test.py
test2.py