fastapi==0.110.0
uvicorn[standard]==0.29.0
python-multipart
jinja2
itsdangerous>=2.1.2
pdfplumber==0.11.0
spacy==3.7.4
python-jose[cryptography]==3.3.0
passlib[bcrypt]
argon2-cffi==23.1.0
SQLAlchemy
pymysql
pandas
google-genai
httpx>=0.27.0
selenium==4.21.0
webdriver-manager==4.0.2
undetected-chromedriver
fake-useragent
python-dotenv==1.0.1
pydantic==2.6.4
scikit-learn
beautifulsoup4
lxml